html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'AFTERNOON IN STEREO';
    src: url('../fonts/afternoon-in-stereo-personal-us.regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DECALLED REGULAR';
    src: url('../fonts/decalled-script-regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PLAYBALL REGULAR';
    src: url('../fonts/playball-regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

a {
    text-decoration: none;
}

body {
    font: 16px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #55606e;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header,
.footer {
    background: #1e1a25 url(../images/bg-texture.jpg) repeat;
    color: #fff;
}

.content {
    color: #fff;
}

.logo {
    float: left;
    margin: 15px 17px 15px 0;
    font: italic 60px "AFTERNOON IN STEREO";
    color: #fff;
}

.slogan {
    float: left;
    margin-top: 32px;
    font: italic 35px "AFTERNOON IN STEREO";
    color: rgba(255, 255, 255, .5);
}

.nav {
    float: right;
    padding: 15px 0;
}

.nav li {
    float: left;
    border-left: 1px solid #2c323d;
}

.nav a {
    display: block;
    line-height: 62px;
    color: #fff;
    position: relative;
    padding: 0 24px 0 53px;
}

.nav a:hover {
    background-color: #13151a;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.nav .about a:before {
    content: "";
    background: url(../images/user.png) no-repeat;
    position: absolute;
    width: 19px;
    height: 20px;
    top: 21px;
    left: 24px;
}


/* banner */

.banner {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* /* width: 100%; */
    height: 1000px;
    color: #fff;
    text-align: center;
    padding-top: 31px;
}

.banner .container {
    padding-top: 65px;
    color: #8e959c;
    font-family: "PLAYBALL REGULAR";
}

.banner h1 {
    font-size: 52px;
    /* font-weight: bold; */
    margin: 0 0 30px;
}

.banner p {
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
    max-width: 715px;
    margin: 0 auto 51px;
}

.banner p strong {
    font-weight: 700;
}

.btn {
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    padding: 0 55px;
    margin: 0 11px;
    font-family: 'Times New Roman', Times, serif;
}

.btn-green {
    background-color: #83c129;
}

.btn-green:hover {
    background-color: #6aa11a;
}

.btn-blue {
    background-color: #068fd5;
}

.btn-blue:hover {
    background-color: #086ea3;
}


/* content */

.content .container {
    padding: 30px 0;
}

.container:after,
.block:after {
    content: "";
    display: table;
    clear: both;
}

.blocks .block {
    float: left;
    width: 351px;
    margin-left: 43px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #d9dbdf;
}

.blocks .block:first-child {
    margin-left: 0;
}

.blocks .image {
    margin-bottom: 13px;
}

.blocks .photo {
    float: left;
}

.blocks .person img {
    border-radius: 50%;
}

.blocks .text {
    float: right;
    width: 258px;
}

.blocks .phrase {
    color: #454e5c;
    margin-bottom: 2px;
    font-weight: 600;
}

.blocks .info {
    color: #8e959c;
    font-size: 14px;
}

.news {
    content: "";
    display: table;
    clear: both;
}

.news {
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    padding: 31px 0;
    margin: 30px 0;
}

.news .one {
    float: left;
    width: 352px;
    margin-left: 42px;
}

.news .one:first-child {
    margin-left: 0;
}

.news .img {
    float: left;
    width: 98px;
    text-align: center;
}

.news .text {
    float: right;
    width: 234px;
    padding-top: 4px;
}

.news img {
    border-radius: 50%;
}

.news time {
    font-size: 14px;
    color: #abb1bb;
}

.news a {
    margin: 4px 0 0;
    color: #55606e;
}

.featured {
    padding: 26px 0;
    margin-bottom: 34px;
}

.featured * {
    display: inline-block;
    vertical-align: middle;
}

.featured ul li {
    margin-right: 38px;
}

.featured .title {
    margin-right: 20px;
}

.featured a {
    opacity: .5;
}

.featured a:hover {
    opacity: 1;
}


/* footer */

.footer {
    padding: 36px 0;
}

.footer-nav {
    float: left;
}

.footer-nav .column {
    font-size: 12px;
    float: left;
    width: 136px;
}

.footer-nav .title {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-nav ul li {
    margin-bottom: 7px;
}

.footer-nav a {
    color: #8e959c;
}

.footer-nav a:hover {
    color: #b3bcc4;
}

.footer .social-link {
    float: right;
}

.footer .social-link img {
    margin-left: 10px;
}

.footer .container {
    position: relative;
}

.footer .copyright {
    position: absolute;
    clear: right;
    text-align: right;
    line-height: 20px;
    font-size: 12px;
    color: #8e959c;
    right: 0;
    bottom: 0;
}

.copyright a {
    color: #8e959c;
    margin-left: 8px;
}